*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#0f172a;
    color:white;
}

.container{
    width:700px;
}

h1{
    text-align:center;
    margin-bottom:30px;
}

.card{
    background:#1e293b;
    padding:30px;
    border-radius:20px;
}

h2{
    margin:20px 0 10px;
}

ul{
    list-style:none;
}

li{
    padding:8px 0;
}

.score{
    font-size:60px;
    font-weight:bold;
    text-align:center;
    color:#22c55e;
}

.progress{
    height:18px;
    background:#334155;
    border-radius:20px;
    overflow:hidden;
    margin:20px 0;
}

.progress-fill{
    height:100%;
    background:#22c55e;
}

.btn{
    display:block;
    text-align:center;

    text-decoration:none;
    color:white;

    background:#ff0055;

    padding:14px;
    border-radius:12px;

    margin-top:25px;
}